:root {
    /*for main components*/
    --main-color: #8F272D;
    --primary-color: #163C50;
    --background-color: #ECBA57;

    /* for buttons */
    --main-btn-hover-color: rgb(247, 174, 39);
    --main-btn-shadow-color: #c0111a;
    --main-btn-hover-shadow-color: rgb(202, 125, 36);
    --primary-btn-hover-color: #0e5d88;
}

html {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

/* Button */
/* For main buttons with Red color: Buy now, Add to card, Cancel.... */
.btn-main {
    background-color: var(--main-color);
    padding: 14px 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 6px 6px var(--main-btn-shadow-color);
}

.btn-main a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.btn-main:hover {
    transition: 0.4s linear;
    background-color: var(--main-btn-hover-color);
    box-shadow: 6px 6px var(--main-btn-hover-shadow-color);
}

.btn-main a:hover {
    color: white;
}

/* For primary buttons with blue color: Login, Register, Submit  */
.btn-primary {
    background-color: var(--primary-color);
    padding: 6px 30px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.btn-primary a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--primary-btn-hover-color);
}

.btn-primary a:hover {
    color: white;
}