* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

  
  body {
    height: 100vh;
    background-color:var(--background-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 460px;
    border-radius: 0;
    border: none;
    background-color:var(--background-color);
    padding: 28px 42px;
  }
  
  .form-container{
    border-radius: 4px;
    border: 1px solid #333;
    background-color: white;
    padding: 36px;
  }
  .form-heading {
    margin-bottom: 18px;
    font-size: 40px;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 12px;
  }
  
  .form-control input:focus {
    border: 2px solid #060b0e;
  }
  
  .form-decrit {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .form-login:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover-color);
  }

  .form-register:hover {
    cursor: pointer;
    background-color: var(--primary-btn-hover-color);
  }

  .form-register {
    background-color: white;
    padding: 6px 30px;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    margin-top: 30px;
  }

  .form-login {
    margin-top: 10px;
    width: 100%;
    background-color:var(--primary-color);
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  