i {
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    padding: 11px;
    display: block;
}

td i {
    text-align: center;
}

:root {
    --success-color: #2691d9;
    --error-color: #e74c3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.disable {
    display: none;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 380px;
    border-radius: 0;
    border: none;
    background-color: white;
    padding: 22px 22px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 1px 1px grey;
}

.form-heading {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 21px;
}

.headicon {
    display: flex;
    justify-content: center;
}

.form-text {
    text-align: center;
    color: #666;
    margin-bottom: 15px;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.form-control {
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 4px;
    color: rgb(107, 106, 106);
    font-size: 19px;
}

.form-control input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 0 12px;
    border: 1px solid rgb(192, 192, 192);

}

::placeholder {
    color: rgb(192, 192, 192);
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.form-control input:focus {
    border: 2px solid #2691d9;
}

.form-error {
    font-size: 18px;
    margin-top: 4px;
    color: #e74c3c;
    display: none;
}

.form-decrit {
    font-size: 5px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.form-decritt {
    font-size: 11px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.form-laink {
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.form-link {
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.main-btn {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 17px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    font-weight: 580;
}

.main-btn:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

.activeError {
    /*font-weight: 100;*/
    display: block;
}

.activeErrorOnInput {
    border: 1px solid #e74c3c;
}

* {
    font-family: monospace;
    font-size: 16px;
}

.form-success {
    color: green;
    display: none;
}

.active {
    display: block;
}

.form-decrit,
.form-error {
    font-size: 14px;
}

.form-label {
    font-size: 16px;
}

.btn-register {
    font-size: 16px;
}

.btn-back {
    background-color: rgb(0, 115, 255);
}

.btn-back a {
    text-decoration: none;
    color: white;
}

.btn-back:hover {
    background-color: rgb(32, 105, 194);
}

.form-success {
    margin-bottom: 10px;
}

h6 {
    display: flex;
    flex-direction: row;
    color: rgb(134, 134, 134);
}

h6:before,
h6:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(134, 134, 134);
    margin: auto;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}