* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

  body {
    height: 100vh;
    background-color:var(--background-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width:100%;
    border-radius: 0;
    border: none;
    background-color:var(--background-color);
    padding: 28px 42px;
  }
  
  .form-container{
    margin: 50px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: rgba(243, 200, 114, 0.9);
    padding: 36px;
  }
  .form-heading {
    margin-bottom: 18px;
    font-size: 40px;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .icon-header {
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }

  .icon-header-total {
    width: 30px;
    height: 30px;
    margin-left: 50px;
  }

  .form-decrit {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }

  .cart-detail {
    margin-left: 75%;
    margin-bottom: 20px;
  }

  .form-order {
    width: 100%;
    padding: 20px;
  }

  .header-table {
    background-color: var(--primary-color);
    color: white; 
    width: 100%;
    padding: 20px;
  }

  .table-form{
    padding: 20px 35px;
  }




